.hero__btn {
    display: block;
    transition: background-color var(--transition-duration);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    background-color: var(--text-nav-link-hover-color);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover,
    &:focus {
            background-color: var(--hero-btn-hover-background-color);}
}