:root {
    --text-nav-link-color: #212121;
    --text-nav-link-hover-color: #2196f3;
    --auth-link-color: #757575;
    --hero-title-color: #ffffff;
    --hero-btn-hover-background-color: #188ce8;
    --team-background-color: #f5f4fa;
    --footer-nav-color: rgba(255, 255, 255, 0.6);
    --accent-color: #000000;
    --hero-bacground-color: #2f303a;
    --header-border_bottom-color: #ececec;
    --portfolio-border-color: #eeeeee;
    --customer-link-color: #afb1b8;
    --work-examp-before-background: rgba(47, 48, 58, 0.8);
    --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}